$primaryTextSize: calc(12px + 0.4vw);
$secondaryTextSize: calc(10px + 0.2vw);

$primaryWhite: #fff;
$secondaryWhite: #f9f8f8;

$primaryBlack: #121b20;

$primaryGray: #707070;
$secondaryGray: #676767;

$primaryOrange: #d58a08;
$secondaryOrange: #d58a08;
